.main {
  width: 50%;
  margin: 20px auto;

  .form {
    width: 100%;

		textarea {
			min-height: 150px;
		}

		button:nth-child(3) {
			margin-left: 10px;
		}
  }

  .w-full {
    width: 100%;
  }

	.mat-icon {
		width: auto;
		height: auto;
	}

  .material-icons {
    font-size: 5em;
  }

	.ham-or-spam-banner {
		margin: 20px 0;
		padding: 5px;
		position: relative;

		.banner-item {
			display: flex;
			align-items: center;

			p {
				top: 50%; 
				right: 50%;
				transform: translate(50%, -50%);
				position: absolute;
				margin: 0;
				font-size: 1.5em;
			}
		}
	}

	.ham-banner {
		border: 1px solid rgba(0, 128, 0, 0.356);
		background-color: rgba(0, 128, 0, 0.034);

		p {
			color: green;
		}
	}

	.spam-banner {
		border: 1px solid rgba(255, 0, 0, 0.356);
		background-color: rgba(255, 0, 0, 0.034);

		p {
			color: red;
		}
	}

	.red {
		color: red;
	}

	.green {
		color: green;
	}

	.data-point-table {
		max-height: 300px;
		overflow-y: scroll;
	}

	.model-info {
		margin-bottom: 20px;
	}
}
